body {
	position: relative;
	font-family: system-ui, sans-serif;
	color: #333;
}

h1 {
	font-family: system-ui, sans-serif;
	color: #888;
}
.existing {
	background-color: pink;
	width: 80%;
}
.new {
	background-color: lime;
	opacity: 0.5;
	width: 50%;
}
#question2 {
	font-weight: bold;
	background-color: yellow;
}

.insert-here {
	color: maroon;
	background-color: beige;
}

.timer{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 0.3em;
	
	display: block;
	padding: 0.3em 1em;
	font-weight: 900;

	background-color: #f30;
	color: white;
	font-size: 4em;
	
	opacity: 0.7;
}
.hidden {
	display: none;
}